body {
  font-family: 'Forum', cursive;
  font-family: 'Inter', sans-serif;
  width: 1440px;
}

* {
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  height: 90px;
  background: #0C0C0E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-family: Forum;
  color: #FFF;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: 50px;
  font-size: 30px;
  margin-left: 20px;
  opacity: 0.3;

}



.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logo-img {
  height: 28px;
  width: 28px;
  border-radius: 20px;
  background-size: cover;
  margin-left: 10px;
  margin-right: 15px;
}

.nav-section {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-link {
  font-family: Inter;
  font-weight: 400;
  color: #FFFFFF;
  list-style-type: none ;
  margin-right: 30px;
  font-size: 15px;
  text-decoration: none;
  transition: opacity 0.9s;
  line-height: 50px;
  font-style: normal;
}

.nav-link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.welcome {
  width: 100%;
  height: 600px;
}

.welcome-img {
  background-image: url(assets/img/jpg/1a7c0fdd96df59f193eeb86655a220dd.jpg);
  width: 100%;
  height: 600px;
  background-size: cover ;
  position: relative;
}

.welcome-div {
  background-color: rgba(12,12,14,0.5);
  width: 600px;
  height: 220px;
  padding-left:40px;
  padding-right: 40px;
  padding-top: 35px;
  padding-bottom: 35px;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 5%
}

.welcome-title {
  font-family: Forum;
  font-size: 30px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
  line-height: 1.5;
}

.section-title {
  font-family: Forum;
  font-weight: 400;
  font-style: normal;
  width: 106px;
  height: 40px;
  /* border-bottom: 1px solid #0C0C0E; */
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 2px;
}

.about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-hr {
  background-color: #0C0C0E;
  width: 50px;
  height: 1px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.about-paragraph {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 40px;
}

.about-img {
  width: 450px;
  height: 560px;
  flex-shrink: 0;
}

.img-container {
  width: 100%;
  height: 560px;
  display: flex;
  justify-content: space-evenly;
}

.about-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  width: 26px;
  height: 26px;
}

.about-button-item {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: #0C0C0E;
  margin-right: 10px;
  margin-top: 25px;
  border: 2px solid #0C0C0E;
  transition: opacity 0.3s;
  padding: 5px;
  margin-bottom: 20px;
}

.about-button-item:hover {
  cursor: pointer;
  background-color: #BB945F;
  border: 2px solid #BB945F;
  opacity: 0.8;
}

.about-button-item:active {
  opacity: 0.4;
}



.favourite-paragraph {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color:#0C0C0E;
}

.fav-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.favourite-list {
  display: flex;
  justify-content: flex-start;
}


.favourite-item {
  margin-right: 35px;
}

